.footer{
  background-color: #8b5e3c;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: relative;
  width: 100%;
  z-index: 2;
}

.footer .container {
max-width: 1200px;
margin: 0;
}

.footer p{
  margin: 5px 0;
  font-family: 'Georgia', serif;
  font-size: 1rem;
}

/* Responsividade*/
@media (max-width: 768px){
  .footer {
  padding: 15px 0;
  }
  .footer p{
    font-size: 0.9rem;
  }
}
